name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  quick-check:
    runs-on: ubuntu-latest
    env:
      GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@v3

      - name: Execute Gradle Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: -S build --scan

  build:
    needs: quick-check
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        java_version: [8, 11, 17]
    runs-on: ${{ matrix.os }}
    env:
      GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java_version }}
          distribution: temurin

      - name: Execute Gradle Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: -S build --scan

      - name: Self Test :plugin
        uses: gradle/gradle-build-action@v2
        with:
          arguments: --no-configuration-cache -S -I plugin-self-test.init.gradle :plugin:dependencies
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Self Test :plugin-test
        uses: gradle/gradle-build-action@v2
        with:
          arguments: --no-configuration-cache -S -I plugin-self-test.init.gradle :plugin-test:dependencies
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
