name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  quick-check:
    runs-on: ubuntu-latest
    env:
      GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
            java-version: 17
            distribution: temurin

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2

      - name: Execute Gradle Build
        run: ./gradlew build

  build:
    needs: quick-check
    strategy:
      matrix:
        gradle-version: [ "5.6.4", "6.9.4", "7.6.1"]
    runs-on: ubuntu-latest
    env:
      GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin

      - name: Execute Gradle Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: -S build -PtestGradleVersion=${{ matrix.gradle-version }}

  self-test:
      needs: quick-check
      runs-on: ubuntu-latest
      env:
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
      steps:
          - uses: actions/checkout@v3

          - name: Set up JDK
            uses: actions/setup-java@v3
            with:
                java-version: 11
                distribution: temurin

          - name: Set up Gradle
            uses: gradle/gradle-build-action@v2

          - name: Self Test :plugin
            run: ./gradlew --no-configuration-cache -S -I plugin-self-test.init.gradle :plugin:dependencies
            env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          - name: Self Test :plugin-test
            run: ./gradlew --no-configuration-cache -S -I plugin-self-test.init.gradle :plugin-test:dependencies
            env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
